@model Travelland.Domain.DomainModels.Offer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OfferDestination" class="control-label"></label>
                <input asp-for="OfferDestination" class="form-control" />
                <span asp-validation-for="OfferDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferImage" class="control-label"></label>
                <input asp-for="OfferImage" class="form-control" />
                <span asp-validation-for="OfferImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferDescription" class="control-label"></label>
                <input asp-for="OfferDescription" class="form-control" />
                <span asp-validation-for="OfferDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferPrice" class="control-label"></label>
                <input asp-for="OfferPrice" class="form-control" />
                <span asp-validation-for="OfferPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferRecommendation" class="control-label"></label>
                <input asp-for="OfferRecommendation" class="form-control" />
                <span asp-validation-for="OfferRecommendation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
